<div class="about row">
    <div class="col-md-12">
       <h2>关于此博客 </h2>
        <br/>
        <p>我是一个北漂的程序员</p>
        <p>生活中一直都很平庸，工作学习也是没有突出亮点</p>

        <p>一直以来，我就是一直这样差不多，工作中差不多，学习中差不多，渐渐迷失了方向</p>
        <p>目前是一个程序员，总是想努力突破自己，却总是无法摆脱现状，很焦虑也很迷茫</p>
        <p>感觉自己就像在温水中，不去做有挑战的事情，也不改变当前的状态</p>
        <p></p>
        <p>一直想着开通自己的博客，总结分享自己的一些新的体验，和各位同行交流</p>
        <p>当看到一些优秀的博客，总结得非常好，觉得看别人的博客就好了</p>
        <p>一直以来觉得自己进步非常缓慢，甚至停滞不前</p>
        <p>虽然有记笔记的习惯，但是笔记中的内容并没有完全吸收，看到的博客也只是留有印象</p>
        <p>总结的知识吸收只是第一步，只有通过总结消化，才能形成自己的知识体系</p>
        <p>博客作为载体，可以将知识体系化输出，最终成为自己知识体系的一部分</p>
        <p>从今天起，我有了自己的博客，有了自己总结思考的地方，我要做的只是坚持</p>
        <p>Change starts today</p>
        <p>加油，老男孩</p>

        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>

    </div>
</div>