<div class="about row">
    <div class="col-md-12">
       <h2>关于此博客 </h2>
        <br/>
        <p>我是一个北漂的程序员，学习工作上一直都很平庸，虽然心有不甘，但也默默接受者这一切</p>
        <p>一直以来，我的生活总是差不多，既不优秀也不差，生活平平淡淡，浑浑噩噩</p>
        <p>目前是一个程序员，总是想努力突破自己，却总是无法摆脱现状，很焦虑也很迷茫</p>
        <p>工作没有挑战，也没有主动寻求一些挑战的事情，感觉自己就像在温水中，早晚会被煮熟</p>
        <p>一直想着开通自己的博客，总结分享自己的一些新的体验，和各位同行交流</p>
        <p>每次想总结一些东西，网上就会看到一些优秀的博客，比我总结的好，博客的事情又不了了之</p>
        <p>一直在记笔记，笔记也没有很好的归纳，工作了很多年，感觉自己的知识仍然不成体系</p>
        <p>笔记是积累知识，博客总结是吸收沉淀，最终变为自己的知识，不总结知识永远都不是自己的</p>
        <p>从今天开始，我有了自己的博客，改变也从今天开始</p>

        <p>输出、输出、输出，只有输出才能证明自己有内容，输出从今天开始</p>

        <p>纵情向前吧，加油</p>

    </div>
</div>